<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Default Properties</comment>
<entry key="Application.Name">EFSA Catalogues Browser</entry>
<entry key="Application.Version">1.0.0</entry>
<entry key="Dcf.EnableTest">YES</entry>
<entry key="DcfXmlUpdatesCreator.RemotePath">\\efsa.eu.int\fileserver\SASOperational\DataShare\Data\DATA\SSD\METADATA\CAT_BROWSER</entry>
<entry key="DcfXmlUpdatesCreator.InputFolder">IN</entry>
<entry key="DcfXmlUpdatesCreator.UpdateFolder">UPDATE</entry>
<entry key="DcfXmlUpdatesCreator.OutputFolder">OUT</entry>
</properties>
